body{
    background: #323975;
  }
  .fa-snowflake{
    color: #fff;
    animation: fall  linear forwards;
    position: absolute;
    top : -20px;
  }
  @keyframes fall{
    to{
      transform: translateY(100vh);
    }
  }