body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.heart{
  background: purple;
  height: 100px;
  width: 100px;
  position: relative;
  transform: rotate(-45deg);
  animation: pulse 1s linear infinite;
}
@keyframes pulse{
  0%{
    transform: rotate(-45deg) scale(1);
  }
  10%{
    transform: rotate(-45deg) scale(1.1);
  }
  20% {
		transform: rotate(-45deg) scale(0.9);
	}
	
	30% {
		transform: rotate(-45deg) scale(1.2);
	}

	40% {
		transform: rotate(-45deg) scale(0.9);
	}
  
  50%{
    transform: rotate(-45deg) scale(1.05);
  }
  
  60%{
    transform: rotate(-45deg) scale(0.95);
  }
  
  70%{
    transform: rotate(-45deg) scale(1);
  }
}

.heart::after{
  background: inherit;
  /* kế thừa thuộc tính của các phần tử cha gần nó nhất (parent element)*/
  height: 100px;
  width:100px;
  border-radius: 50%;
  content:'';
  position: absolute;
  top: -50px;
  left: 0;
}
.heart::before{
  background: inherit;
  /* kế thừa thuộc tính của các phần tử cha gần nó nhất (parent element)*/
  height: 100px;
  width:100px;
  border-radius: 50%;
  content:'';
  position: absolute;
  top: 0;
  right: -50%;
}