body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    transition: background 0.3s ease;
  }
  .change-btn{
    background-color: #000;
    color: white;
    padding: 25px 50px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
  }
  
  .change-btn:focus{
    outline: 0;
    background-color: #444;
  }
  
  .change-btn:active{
    transform: scale(0.99);
  }
  .color-text{
    font-size: 16px;
    font-family:"Poppins",sans-serif;
    color: #fff;
  }