@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
 
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}
.progress{
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 40px;
  width: 400px;
}
.progress-done{
  background: linear-gradient(to left, #F2709C, #FF9472);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0px;
  opacity: 0;
   box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; 
  transition: 1s ease ;
}

